<% @product.each do |product|%>

  <h2><%= product.name %></h2>
   
  <div>
   <%= image_tag product.image.url(:thumb)%>
  </div>
  
  <div>
    <%= product.price %>
  </div>

  <div class="article-stats">
    <span class="stats-label">Danh mục:</span> 
    <%= product.category.name %>
  </div>

  <div>
    <%= link_to 'Chi tiết', product_path(product)%>
    <% if user_signed_in? %>
      <% if current_user == product.user %>
        <div class="product-info">
          <%= link_to 'Edit', edit_product_path(product)%>
          <%= link_to 'delete', product_path(product), method: 'delete', data: {confirm: 'Bạn có muốn xoá bài này không?'} %>
        </div> 
      <%end%> 
    <%end%>
  </div>
<%end%>
