
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-sm-3 col-md-2 sidebar">
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
    
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
  </div>
  <div class="col-sm-3 col-md-2 sidebar", style="margin-left: 170px">
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
    
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
  </div>

  <div class="col-sm-3 col-md-2 sidebar", style="margin-left: 170px">
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
    
    <div style="background-color: #c1bdbd ; overflow: hidden; height: 713px; width: 300px;margin-bottom: 120px">
      <!-- Indicators -->
      <div id='slider' class='swipe1' style="margin-top: 0px">
        <div class='swipe-wrap1'>
          <%= link_to image_tag("doluong/hinh1.jpg", class: "p-image"),root_path %>
        </div>
      </div>
      <div class="p-info">
        <div >
        <h1><span style="color:blue">May Do Luong</span></h1>
        <h2><span style="color:red">123.000 nghin</span></h2>
        </div>
        <div>
          <ul>
            <li>Cơ Hội trúng voucher du lịch <b>70.000.000đ</b>/ tuần</li>
            <li>Trả góp FE Credit, 1% lãi suất, trả trước <b> 0đ</b>, kỳ hạn 9 tháng Hoặc trả góp Home Credit, 0% lãi suất, trả trước 30%, kỳ hạn 4 tháng Hoặc Phiếu mua Phụ kiện trị giá <b>100.000đ</b></li>
          </ul>
        </div>
      </div> <!--info-->
    </div>  
  </div>

</div><!--/row-->

# <div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-4"></col>
      <col class="col-xs-4"></col>
    </colgroup>

      <thead>
        <% @product.each do |product|%>
        <tr id="table_color">
          <th><h5>Product: <%=product.name%></h5></th>
          <th><h5>Description</h5></th>
        </tr>
      </thead>

      <tbody>
        <tr>

          <td>
            <code> <div><%= image_tag product.image.url(:thumb)%></div></code>
          </td>

          <td>
            <div class="article-stats">
              <span class="stats-label">Danh mục:</span> 
              <%= product.category.name %>
            </div>
            <div><%=product.schematic%></div>

              <div>
                <%= link_to 'Chi tiết', product_path(product)%>
                <% if user_signed_in? %>
                  <% if current_user == product.user %>
                    <div class="product-info">
                      <%= link_to 'Edit', edit_product_path(product)%>
                      <%= link_to 'delete', product_path(product), method: 'delete', data: {confirm: 'Bạn có muốn xoá bài này không?'} %>
                    </div> 
                  <%end%> 
                <%end%>
              </div>
          </td>

        </tr>

      </tbody>

    <%end%>

  </table>

# </div>