<ul class="dropdown-menu">

  <li class="dropdown-submenu">
    <td><%=link_to 'SCHENEIDER', scheneiders_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

  <li class="dropdown-submenu">
    <td><%=link_to 'HITACHI', hitachis_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Pump</a></li>
            <li><a href="#">Bien Tan</a></li>
            <li><a href="#">Bien Tan</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

  <li class="dropdown-submenu">
    <td><%=link_to 'YASKAWA', yaskawas_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

  <li class="dropdown-submenu">
    <td><%=link_to 'MITSUBISHI', mitsubishis_path%></td>
        <ul class="dropdown-menu">
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

  


    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>ABB</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Danfoss</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Yaskawa</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Siemens</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Mitsubishi Electric</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Uwt</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Suku</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>PR electronics</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Xecro</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>BD sensors</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Ebara</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Teikoku</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Hyundai</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Sew</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Kfm</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>
  
  <table class="table">
  <li><tr class="active">
    <td><%=link_to 'SCHENEIDER', scheneiders_path%></td>
  </tr></li>

    <li><tr class="success">
     <td><%=link_to 'HITACHI', hitachis_path%></td>
    </tr></li>

    <li><tr class="warning">
     <td><%=link_to 'YASKAWA', yaskawas_path%></td>
    </tr></li>

    <li><tr class="danger">
     <td><%=link_to 'MITSUBISHI', mitsubishis_path%></td>
    </tr></li>
</table>
</ul>

