<ul class="dropdown-menu">
<table class="table">
  <li><tr class="active">
    <td><%=link_to 'SCHENEIDER', scheneiders_path%></td>
  </tr></li>

    <li><tr class="success">
     <td><%=link_to 'HITACHI', root_path%></td>
    </tr></li>

    <li><tr class="warning">
     <td><%=link_to 'YASKAWA', root_path%></td>
    </tr></li>

    <li><tr class="danger">
     <td><%=link_to 'MITSUBISHI', root_path%></td>
    </tr></li>
  </table>


    <li><tr class="info">
     <td><%=link_to 'Scheneider', root_path%></td>
    </tr></li>


  <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>HiTaChi</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>ABB</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Danfoss</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Yaskawa</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Siemens</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Mitsubishi Electric</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Uwt</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Suku</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>PR electronics</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Xecro</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>BD sensors</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Ebara</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Teikoku</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Hyundai</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Sew</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>

    <li class="dropdown-submenu">
      <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-right"></span>Kfm</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level</a></li>
            <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                  <li><a href="#">3rd level</a></li>
                </ul>
            </li>
            <li><a href="#">Second level</a></li>
            <li><a href="#">Second level</a></li>
        </ul>
  </li>
</ul>

